

.video {
    width: 100%;
}

h2 {
   text-align: center; 
}

.shows-events {
    padding-top: 1em;
    padding-left: 100px;
    padding-right: 100px;
}

.event-links {
    list-style-type: none;
    padding: 1em;
}

.event-list {
    padding-top: .5em;
    padding-bottom: .5em;
}

.scroll-container {
    background-color: var(--accents);
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin-top: 1em;
}

.scroll-container img {
    padding: 10px;
}

.line {
    color: var(--secondary);
    border-color: var(--secondary);
}

.button {
    float: right;
}

@media screen and (max-width: 424px) {
    .shows-events {
        padding: 1em;
    }
}