/* base.css */


html {
    font-family: "Dosis", sans-serif;
}

.parent {
    display: grid;
    justify-content: center;
}

header {
    grid-column: 1/4;
    background-color: darkslategrey;
    padding: 10px;
    text-align: center;
    width: 940px;
}

header h1 {
    color: white;
}

footer {
    grid-column: 1/4;
    background-color: darkslategrey;
    padding: 10px;
    text-align: center;
    color: white;
    width: 940px;

}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: black;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

.navbar a:hover {
    background-color: white;
    color: black;
}

main {
    display: flex;
    background-color: white;
    padding: 10px;
    justify-content: center;
    width: 940px;
    margin: 0 auto;
}

.card {
    border-radius: 15px;
    border: solid black;
    overflow: hidden;
    margin: 0 15px;
}

#card-1 {
    width: 630px;
}

.about-me {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.about-me p {
    width: 425px;
}

#profile-img {
    max-height: 200px;
}

.place-header {
    padding: 0 15px;
    text-align: center;
}

.place-header>* {
    margin: 0;
}

.place-header hr {
    width: 75%;
    margin: auto;
}

.about-place {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.about-place figure {
    margin-left: 0;
}

#place-flag {
    max-height: 100px;
}

#card-2 {
    width: 300px;
}

.card-header {
    display: flex;
    background-color: darkslategrey;
    color: white;
    justify-content: center;
}

.card-header h2 {
    margin: 0;
}

#card-2 .card-content {
    display: flex;
    align-items: center;
    line-height: 2;
    font-size: larger;
}

/* Media Queries */