/* base.css */


html {
    font-family: "Dosis", sans-serif;
}

.parent {
    display: grid;
    justify-content: center;
}

header {
    grid-column: 1/4;
    background-color: darkslategrey;
    padding: 10px;
    text-align: center;
    width: 940px;
}

header h1 {
    color: white;
}

footer {
    grid-column: 1/4;
    background-color: darkslategrey;
    padding: 10px;
    text-align: center;
    color: white; 
    width: 940px;

}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: black;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

.navbar a:hover {
    background-color: ;
    color: black;
}

main {
    display: flex;
    grid-column: 2/3;
    background-color: white;
    padding: 10px;
    justify-content: center;
    width: 940px;
}

.card {
    border-radius: 15px;
    border: solid black;
    overflow: hidden;
    margin: 0 15px;
}

.card-header {
    display: flex;
    background-color: darkslategrey;
    color: white;
    justify-content: center;
}

.card-header h2 {
    margin: 0;
}
