@media screen and (min-width: 768px) {
    main {
        display: block;

    }

    .hero-image {
        display: flex;
        z-index: -1;
    }

    .data {
        top: 5%;
        left: 2%;
        position: absolute;
        background-color: white;
        font-size: smaller;
    }

    .weather {
        bottom: 5%;
        right: 2%;
        position: absolute;
        background-color: white;
        font-size: smaller;
    }

    .weather img {
        display: none;
    }

    .weather h2::after {
        content: " \26c5";
    }
}