@media screen and (min-width: 768px) {
    #cheeseburger {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
    }

    .menu li a {
        padding: .5em;
    }

    .temples-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        max-width: 900px;
        margin: auto;
    }

    nav {
        margin: 0;
    }
}